svg {
	position: fixed;
	left: 0;
	display: inline-block;
	border: solid 2px #dddddd;
}

#sidebar {
	position: fixed;
	right: 0;
	width: 28%;
	height: 98%;
	display: inline-block;
}

button {
	display: inline-block;
}

.selected-node {
	stroke: #000000;
}